{% extends 'base.html' %}

{% block title %}Main{% endblock %}


{% block content %}
<div class="d-flex justify-content-center mt-5">
	<form action="/register" method="post" class="me-5">
		<h2>Register Here</h2>
		{% with messages = get_flashed_messages(category_filter=['register']) %}
			{% if messages %}
				<div class="alert alert-danger" role="alert">
					<strong>Error!</strong>
					{% for message in messages %}
						<p>{{ message }}</p>
					{% endfor %}
				</div>
			{% endif %}
		{% endwith %}
		<div class="form-group">
			<label for="first_name">First Name:</label>
			<input type="text" name="first_name" class="form-control">
		</div>
		<div class="form-group">
			<label for="last_name">Last Name:</label>
			<input type="text" name="last_name" class="form-control">
		</div>
		<div class="form-group">
			<label for="email">Email:</label>
			<input type="text" name="email" class="form-control">
		</div>
		<div class="form-group">
			<label for="password">Password:</label>
			<input type="password" name="password" class="form-control">
		</div>
		<div class="form-group">
			<label for="confirm_password">Confirm Password:</label>
			<input type="password" name="confirm_password" class="form-control">
		</div>


		<input type="submit" value="Register" class="btn btn-primary mt-2 ">
	</form>

	<form action="/login_handler" method="post" class="ms-5">
		<h2>Login Here</h2>
		{% with messages = get_flashed_messages(category_filter=['login']) %}
			{% if messages %}
				<div class="alert alert-danger" role="alert">
					<strong>Error!</strong>
					{% for message in messages %}
						<p>{{ message }}</p>
					{% endfor %}
				</div>
			{% endif %}
		{% endwith %}
		<div class="form-group">
			<label for="email">Email: </label>
			<input type="text" name="email" class="form-control">
		</div>
		<div class="form-group">
			<label for="password">Password: </label>
			<input type="password" name="password" class="form-control">
		</div>

		<input type="submit" value="Login" class="btn btn-primary mt-2">
	</form>
</div>
{% endblock %}